@custom-selector :--header h1, h2, h3, h4, h5, h6;

html, body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-body);
  font-size: var(--size-body);
  color: var(--color-body);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: inherit;
}

:--header {
  font-size: 1em;
  margin: calc(var(--line-height) * 3) 0 var(--line-height);
}

:--header a.anchor {
  color: var(--color-light);
  margin-left: calc(1em * 1 / 2);
}

p, ul, ol, pre, table {
  margin: 0 0 var(--line-height);
}

pre, code {
  font-family: var(--font-mono);
}

pre {
  padding: calc(var(--mono-height) * 2 / 3) calc(var(--mono-height) * 4 / 5);
  background-color: rgba(0, 0, 0, calc(1 / 32));
  border-radius: var(--border-radius);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, calc(1 / 16));
  line-height: var(--mono-height);
}

pre.install code:before {
  content: '$ ';
  color: var(--color-light);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  box-shadow: 0 1px 0 rgba(0, 0, 0, calc(1 / 16)) inset;
  width: 100%;
}

table td, table th {
  padding:
    calc(var(--line-height) * 1 / 3)
    calc(var(--line-height) * 2 / 3);
}

table th {
  hyphens: none;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, calc(1 / 32));
}

tbody code {
  background: none;
  padding: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, calc(1 / 32));
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

section:after {
  content: ' ';
  display: block;
  clear: both;
}

header {
  background-color: var(--color-accent);
  text-align: center;
  padding-top: calc(var(--line-height) * 4 / 2);
}

header > a {
  display: block;
  margin: 0 auto;
  width: 12em;
}

header .emblem {
  display: block;
  height: calc(var(--line-height) * 4);
  margin: 0 auto;
  padding-bottom: calc(var(--line-height) * 3 / 4);
}

header .logo-type {
  display: block;
  height: calc(var(--line-height) * 1);
  margin: 0 auto calc(var(--line-height) * 3 / 2);
}

header nav {
  position: relative;
  padding: calc(var(--line-height) * 1) var(--line-height);
}

header nav:before {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, calc(1 / 8));
}

header nav a {
  color: var(--color-alt);
}

header nav a:after {
  content: '⁄';
  margin-right: calc(1em * 4 / 3);
  padding-left: calc(1em * 4 / 3);
  color: var(--color-light);
}

header nav a:last-of-type:after {
  display: none;
}

article {
  max-width: var(--max-width);
  margin: calc(var(--line-height) * 3) auto;
  padding: 0 var(--line-height);
  text-align: justify;
  hyphens: auto;
}

article a {
  color: var(--color-link);
}

footer {
  text-align: center;
  max-width: var(--max-width);
  position: relative;
  margin: calc(var(--line-height) * 3) auto;
  color: var(--color-alt);
}

footer p {
  margin: 0;
}

#corner {
  position: absolute;
  top: calc(var(--line-height) * -4 / 3);
  right: calc(-9.6em / (2 * 0.707106781));
  transform: rotate(45deg);
  transform-origin: 0 0;
  width: 15em;
  line-height: calc(var(--line-height) * 4 / 3);
  text-align: center;
  display: block;
  background-color: #fca889;
  color: #fff;
}
